button.backbtn {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff;
    margin: 0 0 0 10px;
    width: 35%;
    height: 40px;
    background-color: #46a973;
    border-radius: 35px;
    border: 1px solid #999;
    cursor: pointer;
    justify-content: center;
    position: absolute;
    z-index: 99999;
    top: 320px;
    left: 31%;
}
button.backbtn:hover {
    background-color:#333;
    color:#fff;}

h2 {
    text-align: center;
}