@charset "UTF-8";
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body{margin:0 auto; font-size:16px;}
div.map_wrap{width:375px; height:712px; /*background-color:#eee;*/ margin:auto; position:relative;}

<!-- 지도이동버튼 -->
div.arrow_wrap{width:375px; height:712px; border:3px solid #333; box-sizing: border-box;}
.arrow_wrap>a{position:absolute; width:30px; height:30px; cursor: pointer; z-index:99999;}
a.fa-up{top:2%; left:44%;}
a.fa-down{bottom:2%; left:44%;}
a.fa-left{top:50%; left:2%;}
a.fa-right{top:50%; right:2%;}

a.fa-up:hover i , a.fa-down:hover i , a.fa-left:hover i , a.fa-right:hover i {opacity:1;}

.marketmap_i{font-size:36px; color:#000; opacity:0.4;}
i.fa-circle-chevron-left{position:absolute; top:50%; left:2%;}
i.fa-circle-chevron-right{position:absolute; top:50%; right:2%;}
i.fa-circle-chevron-up{position:absolute; top:2%; left:44%;}
i.fa-circle-chevron-down{position:absolute; bottom:-70%; left:44%;}

<!-- 지도bg -->
div.map_bg_wrap{width:375px; height:712px; box-sizing:border-box;}
div.map_bg_content3_box{width:375px; height:712px; position:absolute; /*background-image: url("../../img/marketmap/marketmap_noicon_page_03.png"); background-repeat: no-repeat; background-size:cover;*/}
img.map_bg_content3_img{width:375px; height:712px;}

<!-- 상점 공통 -->

<!-- 영광마트 -->
.map_bg_content3_icon{width:90px; height:90px; position:absolute; cursor: pointer;}
.store_ygmart_icon{transition: all 0.2s linear; cursor: pointer;}
.store_ygmart_icon:hover {transform: scale(1.1);}
.store_ygmart_box{position:absolute; top:8%; left:70%; width:90px; height:90px;  text-align:center;}
img.mart{width:55px; height:55px;}
p.store_ygmart_txt{margin:0; font-size: 14px; font-weight: 800;}

<!-- 신림기름집 -->
.map_bg_content3_icon{width:90px; height:90px; position:absolute; cursor: pointer;}
.store_shinrimoil_icon{transition: all 0.2s linear; cursor: pointer;}
.store_shinrimoil_icon:hover {transform: scale(1.1);}
.store_shinrimoil_box{position:absolute; top:16%; left:59%; width:90px; height:90px;  text-align:center;}
img.oil{width:35px; height:75px;}
p.store_shinrimoil_txt{margin:0; font-size: 14px; font-weight: 800;}

<!-- 오떡순 -->
.map_bg_content3_icon{width:90px; height:90px; position:absolute; cursor: pointer;}
.store_odducksun_icon{transition: all 0.2s linear; cursor: pointer;}
.store_odducksun_icon:hover {transform: scale(1.1);}
.store_odducksun_box{position:absolute; top:57%; left:67%; width:90px; height:90px; text-align:center;}
img.snackbar{width:90px; height:70px;}
p.store_odducksun_txt{margin:0; font-size: 14px; font-weight: 800;}

<!-- 김치천국 -->
.map_bg_content3_icon{width:90px; height:90px; position:absolute; cursor: pointer;}
.store_kimchiheven_icon{transition: all 0.2s linear; cursor: pointer;}
.store_kimchiheven_icon:hover {transform: scale(1.1);}
.store_kimchiheven_box{position:absolute; top:70%; left:68%; width:90px; height:90px; text-align:center;}
img.kimchi{width:62px; height:53px;}
p.store_kimchiheven_txt{margin:0; font-size: 14px; font-weight: 800;}

<!-- 신림즉석두부_과일나라-->
.map_bg_content3_icon{width:90px; height:90px; position:absolute; cursor: pointer; }
.store_shinrimtofu_icon{transition: all 0.2s linear; cursor: pointer;}
.store_shinrimtofu_icon:hover {transform: scale(1.1);}
.store_shinrimtofu_box{position:absolute; top:84%; left:74%; width:90px; height:90px; text-align:center;}
img.tofu{width:60px; height:50px;}
p.store_shinrimtofu_txt{margin:0; font-size: 14px; font-weight: 800;}

<!-- 못난이꽈배기 -->
.map_bg_content3_icon{width:90px; height:90px; position:absolute; cursor: pointer;}
.store_uglypretzel_icon{transition: all 0.2s linear; cursor: pointer;}
.store_uglypretzel_icon:hover {transform: scale(1.1);}
.store_uglypretzel_box{position:absolute; top:95%; left:69%; width:90px; height:90px; text-align:center;}
img.pretzel{width:65px; height:45px;}
p.store_uglypretzel_txt{margin:0; font-size: 14px; font-weight: 800;}


<!-- 중국슈퍼 -->
.map_bg_content3_icon{width:90px; height:90px; position:absolute; cursor: pointer;}
.store_chinamart_icon{transition: all 0.2s linear; cursor: pointer;}
.store_chinamart_icon:hover {transform: scale(1.1);}
.store_chinamart_box{position:absolute; top:94%; left:35%; width:90px; height:90px; text-align:center;}
img.mart{width:55px; height:55px;}
p.store_chinamart_txt{margin:0; font-size: 14px; font-weight: 800;}

