@charset "UTF-8";
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

hr{width:100%;}
a{text-decoration: none;}

/* 메인 */
#orderReceipt_main{
	font-family: "LINESeedKR-Bd",sans-serif;
	margin: 0 auto;
	width: 375px;
	font-size: 16px;
}
/* x */
#orderReceipt_btn_cancel{
	width:100%;
	text-align: right;
}
#orderReceipt_btn_cancel>a:hover {
	text-decoration: none;
	cursor: pointer;
	opacity: 0.7;
}
/* 제목 */
#orderReceipt_title>h3{
	text-align: center;
}

/* 테이블 1 */
#orderReceipt_table_1{
	text-align: center;
	width:100%;
	margin-bottom: 30px;
}

#orderReceipt_table1_tr_1{
	color:#46a973;
	font-size: 20px;
	font-weight: bolder;
}

#orderReceipt_table1_tr_3{
	font-size: 14px;
}

/* 테이블 2 */
#orderReceipt_table_2{
	width:375px;
}
#orderReceipt_table_2>tr{
	width:100%;
}

.orderReceipt_table2_tr_1{
	font-size: 18px;
}
.orderReceipt_table2_tr_2{
	font-size: 14px;
}
.orderReceipt_table2_td_2{
	text-align: center;
}
.orderReceipt_table2_td_3{
	text-align: right;
}

/* 테이블 3 */
#orderReceipt_table_3{
	width:100%;
	margin: 20px 0;	
}
.orderReceipt_table3_td_2{
	text-align: right;
}

/* 테이블 4 */
#orderReceipt_table_4{
	width:100%;
}
.orderReceipt_table4_td_2{
	text-align: right;
	margin: 10px 0;
}

/* 테이블 5 */
#orderReceipt_table_5{
	margin-top:15px;
	width:100%;
}
#orderReceipt_table5_tr_1{
	color: #46a973;
	font-size: 18px;
}
.orderReceipt_table5_td_2{
	text-align: right;
}
#orderReceipt_table5_tr_2{
	font-size: 14px;
}
