
@charset "UTF-8";
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


/* 메인 */
#orderDelivery_main{
	font-family: "LINESeedKR-Bd",sans-serif;
	margin: 0 auto;
	width: 375px;
	font-size: 16px;
}
hr{width:100%;}
a{
	text-decoration: none;
}
/* x */
#orderDelivery_btn_cancel{
	width:100%;
	text-align: right;
}
#orderDelivery_btn_cancel>a:hover {
	text-decoration: none;
	cursor: pointer;
	opacity: 0.7;
	text-decoration: none;
}
/* 제목 */
#orderDelivery_main>h2{text-align:center;}

/* 상단 배달 현황 표시 */
#orderDelivery_ing{
	margin: 0 auto;
	list-style: none;
	width: 375px;
}
#orderDelivery_ing>li{
	display: inline-block;
}
.orderDelivery_li_1{margin-right: 20px;}
/* div 시작 */
#orderDelivery_orderInfo{
	margin-top: 30px;
}
/* 시장 이름 출력 */
#orderDelivery_orderInfo>h3{
	color:#46a973;
	font-size: 22px;
}
/* 배달 주소, 주문 번호 */
.orderDelivery_table_tr_1{
	color:#46a973;
	padding-top: 10px;
	font-size: 18px;
	font-weight: bolder;
}

.orderDelivery_table_tr_2{
	padding-bottom: 10px;
	font-size: 14px;
	font-weight: normal;
}

/* 테이블 2 주문내역 */
#orderDelivery_table_2{
	width: 100%;
	margin-bottom: 20px;
}

/* 물건별 가격 출력 부분 */
.orderDelivery_table2_td_2{
	text-align: right;
}

/* 테이블 3 시작 */
#orderDelivery_table_3{
	width: 100%;
	margin-bottom: 20px;
}
/* 테이블 3 제목 부분 */
.orderDelivery_table3_td_1{
	padding-right: 5px;
}

/* 테이블 3 input 부분 */
.orderDelivery_table3_td_1{
	font-size: 14px;
}

/* 총 금액 */
#orderDelivery_table3_total_td_1, #orderDelivery_table3_total_td_2{
	padding-top: 30px;
	color:#46a973;
	font-size: 20px;
	font-weight: bolder;
}

@charset "UTF-8";
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


/* 메인 */
#orderDelivery_main{
	font-family: "LINESeedKR-Bd",sans-serif;
	margin: 0 auto;
	width: 375px;
	font-size: 16px;
}
hr{width:100%;}
a{
	text-decoration: none;
}
/* x */
#orderDelivery_btn_cancel{
	width:100%;
	text-align: right;
}
#orderDelivery_btn_cancel>a:hover {
	text-decoration: none;
	cursor: pointer;
	opacity: 0.7;
	text-decoration: none;
}
/* 제목 */
#orderDelivery_main>h2{text-align:center;}

/* 상단 배달 현황 표시 */
#orderDelivery_ing{
	margin: 0 auto;
	list-style: none;
	width: 375px;
}
#orderDelivery_ing>li{
	display: inline-block;
}
.orderDelivery_li_1{margin-right: 20px;}
/* div 시작 */
#orderDelivery_orderInfo{
	margin-top: 30px;
}
/* 시장 이름 출력 */
#orderDelivery_orderInfo>h3{
	color:#46a973;
	font-size: 22px;
}
/* 배달 주소, 주문 번호 */
.orderDelivery_table_tr_1{
	color:#46a973;
	padding-top: 10px;
	font-size: 18px;
	font-weight: bolder;
}

.orderDelivery_table_tr_2{
	padding-bottom: 10px;
	font-size: 14px;
	font-weight: normal;
}

/* 테이블 2 주문내역 */
#orderDelivery_table_2{
	width: 100%;
	margin-bottom: 20px;
}

/* 물건별 가격 출력 부분 */
.orderDelivery_table2_td_2{
	text-align: right;
}

/* 테이블 3 시작 */
#orderDelivery_table_3{
	width: 100%;
	margin-bottom: 20px;
}
/* 테이블 3 제목 부분 */
.orderDelivery_table3_td_1{
	padding-right: 5px;
}

/* 테이블 3 input 부분 */
.orderDelivery_table3_td_1{
	font-size: 14px;
}

/* 총 금액 */
#orderDelivery_table3_total_td_1, #orderDelivery_table3_total_td_2{
	padding-top: 30px;
	color:#46a973;
	font-size: 20px;
	font-weight: bolder;
}
