@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'omyu_pretty';}

body{width: 375px; height: 812px; margin: 0 auto; }

/* 230727 */
#businesslogin_wrap{background-color:#46A973; width:375px; height:812px; margin:auto;}
.businesslogin_wrapbox{width:375px; height:812px;}
.businesslogin_wrapbox a{text-decoration: none; color:#333;}

.businesslogin_title_wrap{width:375px; height:200px; margin:auto; padding: 20%; text-align: center;}
.businesslogin_title_wrap>h1{font-size: 55px; color:#ffbf41; letter-spacing: 10px; text-align: center;}
.businesslogin_title_wrap>h3{color:#fff}

#container{width: 300px; height: 400px; padding:20px; text-align: center;
    background-color:#fff; border-radius: 10px; box-shadow: 0 3px 6px 0 rgba(0,0,0, 0.4); margin: 0 10%;}

h1.login_title{color: #333; letter-spacing: 5px; margin: 20px 20px 30px 20px;}
div#login_box{margin:20px 0}
div.login_box_wrap{margin-bottom:25px;}
div.login_box_wrap p {margin-bottom:10px;}

input[type=text] {width: 65%; height: 30px; font-size: 15px; border: 0; border-radius: 15px; outline: none; padding-left: 10px; background-color: rgb(233, 233, 233);}
input[type=password] {width: 65%; height: 30px; font-size: 15px; border: 0; border-radius: 15px; outline: none; padding-left: 10px; background-color: rgb(233, 233, 233);}

input.login_btn { width:80%; height:40px; background-color:#46A973; border:none; border-radius: 25px; color:#fff; font-weight: 700; font-size: 16px; font-family: 'omyu_pretty';}
input.login_btn:hover{ background-color:#333; color:#ffbf41;}

div.join_btn_wrap{width:100%;}
a.join_btn{width:70%; height:40px; padding: 4% 32%; background-color:#ffbf41; border:none; border-radius: 25px; color:#333; font-weight: 700; font-size: 16px;}
a.join_btn:hover {background-color: #333; color:#fff;}