@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 전체 크기 */
body{margin: 0; padding: 0; font-family:'LINESeedKR-Bd'; font-size: 16px;}
#cart_container{width: 375px; border: 1px solid black;}

/* 장바구니 타이틀 */
#cart_title{font-family: 'omyu_pretty'; font-size: 22px;}
#cart_title>a{text-decoration: none; color: black;}

/* 입력된 주소 */
#cart_location i,p,input{display: inline-block;}
#cart_location i{color: #fb4e4e;}
#cart_location input{background-color: #46a973; color: white; border-radius: 4px; border: none; font-family:'LINESeedKR-Bd'; font-size: 16px; }


/* 가게리스트 */
#cart_itemList li{list-style: none;}
#cart_itemList article{width: 320px;}

.inner_article{width:250px; margin-left: 0;}

/* 물품리스트 */
.cart_items{width: 280px;}
.cart_xmark{text-align: right;}
.cart_itemImg{width: 50px; height: 50px; display: inline-block;}
img{width: 50px; height: 50px; display: inline-block; vertical-align: top;}
.cart_imgContent{display: inline-block;}

.cart_itemTitle{display: inline-block;}
.cart_itemTitle>p{font-size: 16px;}

/* 물품삭제버튼 */
/* 수량옵션,가격 */
.cart_itemOption{display: inline-block;}
.cart_itemPrice{display: inline-block;}
button{border-style: none; background: none; display: inline-block;}
#cart_countResult{display: inline-block;}
.cart_itemDescription{text-align: right;}
.cart_itemOption i{color:#ffbf41; }

/* 상품더담기버튼 */
#cart_moreBtn{margin-top:10px; width: 100%; text-align: center; }
#cart_moreBtn input{width: 250px; background-color: #46a973; color: white; border: none; border-radius: 4px; font-family:'LINESeedKR-Bd'; font-size: 16px;}

/* 배달/포장 선택 */
#cart_checkDelivery li{list-style: none; display: inline-block;}
#cart_checkDelivery a{text-decoration: none; color: #fb4e4e; font-size: 20px;}
#cart_checkDelivery a:focus{background-color: #ffbf41;}


/* 주문금액칸*/
#cart_delivertTotal{width: 350px;}
#cart_delivertTotal table{margin: 0 auto;}
#cart_deliveryTotal,#cart_pickTotal{position: relative; width: 300px; height: 120px; padding:auto auto; padding-top:20px; background: #ffbf41; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin: 0 auto;}

#cart_deliveryTotal:after{content: ''; position: absolute;  border-style: solid; border-width: 0 14px 15px; border-color: #ffbf41 transparent; display: block; width: 0; z-index: 1; top: -15px; left: 12px;}
#cart_pickTotal:after{content: ''; position: absolute;  border-style: solid; border-width: 0 14px 15px; border-color: #ffbf41 transparent; display: block; width: 0; z-index: 1; top: -15px; left: 48px;}

.cart_costTable{width: 100%;}
.cart_costTable td{padding: 0 30px;}
.cart_cost{text-align: right;}
#cart_totalPrice{font-size: 1.1em;}


/* 푸터(주문하기버튼) */
#cart_footer input{width: 375px; height: 50px; background-color: #46a973; color: white;font-family:'LINESeedKR-Bd'; font-size: 20px; border: none;}