@charset "UTF-8";


  
  @font-face {
  		font-family: 'omyu pretty';
  		src: url('../common/오뮤_다예쁨체.TTF') format('truetype');
  		font-weight: normal;
 		 font-style: normal;
  }
  
    body {
      font-family: 'omyu pretty', Arial, sans-serif;
      display: flex;
      justify-content: center;
    }

    .container {
      width: 375px;
      height: 812px;
      margin:0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #46a973;
    }

    .form_field {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
    }
    
    .form_field label {
      font-weight: bold;
      margin-bottom: 5px;
      color: #333; /* 폰트 색상 변경 */
    }
    
    .form_field input {
      padding: 8px;
      font-size: 16px;
      color: #333;
      border-radius: 20px;
      background-color: #eee;
      
     
    }
    
    .form_field input::placeholder {
  	color: rgba(0, 0, 0, 0.5); 	/* placeholder 색상, 투명도 추가 */
}

.form_field input#address_detail {
  margin-top: -10px;
}
    
    /* 입력란 눌렀을때 테두리가 똑같이 #ffbf41되도록 수정 */
    .form_field input:focus {
  outline: none;
  border-color: #eee;
  box-shadow: 0 0 5px #ffbf41;
}
    
    
    .submit_btn {
        width:80%;
     display:block;
     margin:0 auto;
      padding: 10px 20px;
      background-color: #ffbf41;
      color: #333;
      border: none;
      border-radius: 15px;
      font-size: 16px;
      cursor: pointer;
      font-family: 'omyu pretty', Arial, sans-serif;
    }
    
    /* 라인 스타일 추가 */
    .form_field input {
      border: 1px solid #ffbf41;
    }
    
    /* 버튼 스타일 추가 */
    .form_field .btn_container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 5px;
    }
    
    .form_field .btn_container button {
      padding: 5px 10px;
      background-color: #ffbf41;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;
    }
    
    /* 입력란과 버튼을 감싸는 컨테이너 스타일 추가 */
    .form_field .input_container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    /* PASSWORD, NAME, PHONE, EMAIL 입력란의 길이 조정 */
    .form_field .input_container input:not(#id):not(#address) {
      flex: 1;
    }
    
    /* 로고 이미지 스타일 추가 */
    .logo_container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }
    
    .logo_container img:nth-child(1) {
      width: 100px;
      height: 100px;
      margin-right: 10px;
      margin-left: 40px;
      
    }
    
    .logo_container img:nth-child(2) {
      width: 50px;
      height: 50px;
      transform: rotate(30deg);
      margin-top: 40px;
      margin-left: -20px;
     
    }
    
    .logo-text{
      position: absolute;
      bottom: -20px;
      font-size: 20px;
      color: #ffffff;
      margin-top: 30px;
   }
   
.mylocation_btn{width: 80%; padding: 10px 0; background-color: #46A973;border-radius: 25px;position: absolute;top: 24%;left: 9%; text-align: center; text-decoration: none; color:#fff;}
.mylocation_btn:hover {background-color:#333; color:#ffbf41;}
.submit_btn:hover {background-color:#333; color:#fff;}
