@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.mypage_wrap{width:375px; height:812px; box-sizing: border-box; margin: 0 auto;}

#mypage{
    width: 375px;
    height: 612px;
    position: relative;
/*    border: 1px solid black;*/
}

#main_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 5px 20px 5px;
}

li{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 7px 0;
}

.main_box_icon {
    margin-right: 10px;
    margin-left:  10px;
}

.contents1_bold {
    font-weight: bold;
    margin-left: 10px;
}

#coupon_points_container {
    display: flex;
    justify-content: space-between;
    background-color: #e9e9e9;
    align-items: center;
    border-radius: 30px;
    padding: 10px 20px;
    width: 80%;
    position: relative;
    margin: 10px auto;

    /* Add styles for the dividing line */
}

#coupon_points_container div {
    width: 50%;
    position: relative; /* Add relative positioning */
}



#coupon_points_container div a {
    margin-left: 5px;
}


#service_links,
#customer_links {
    margin-top: 10px;
    padding: 0 20px;
}
a{
    text-decoration: none;
    color: #333;
}
#point{
    font-weight: bolder;
    padding-left: 14px;
}
#cupon{
    font-weight: bolder;
    padding-right: 5px;
}
hr {
    width: 90%; /* 원하는 길이로 조정합니다. */
    margin: 0 auto;
    margin-top: 15px;
}

#mypage_content_h2{
    margin-bottom: -4px;
    margin-left: 10px;
}
#mypage_content{
    /*background-color: rgba(0, 128, 0, 0.3);*/
    background-color:#fff;
    width: 86%;
    border-radius: 20px;
    margin: 10px auto;
    height: 250px;
    padding: 10px 15px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

#hr{
    width: 90%;
}

ul{
    color: #46a973;
    margin-left: 5px;
    font-weight: 600;
}
li{
    color: #333;
    margin-left: 20px;
    font-weight: 500;
}
.img1{
    position: absolute;
    right: 10px;
    top: 109px;
}
#img2{
    position: absolute;
    right: 50px;
    top: 52px;
}
#_small{
    color: gray;
    margin-left: 20px;
}
.separator {
    width: 2px;
    height: 40px;
    background-color: #cdcdcd;
    margin-top: -15px;
}

.separator1 {
    width: 2px;
    height: 30px;
    background-color: #cdcdcd;
    margin-top: -2px;
}

.slider {
    width: 375px;
    height: 100px;
    margin-top:5px;
}
.box {
    text-align: center;
    line-height: 100px;
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.7);
    margin-top: 0;
    height: 120px;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    text-align: center;
}
html {
    height: 100%;
}
/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}*/
button {
    position: absolute;
    top: 72%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;
    outline: none;
    color: red;
    cursor: pointer;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}
.mypage1_h2:hover {
    opacity: 0.7;
}

#mypage_favStore:hover {
    opacity: 0.7;
    cursor: pointer;

}
#order_pastorder:hover {
    opacity: 0.7;
    cursor: pointer;
}
#review:hover {
    opacity: 0.7;
    cursor: pointer;
}


/* 230724 로그인 모달창 추가 */
.modal {position: absolute; width: 375px; height: 913px; top:-20px; z-index: 999999; display: none; background-color: rgba(0, 0, 0, 0.6);}
.modal.show {display: block;}

.modal_body {
    position: absolute; top: 42%; left: 50%;
    width: 300px; height: 350px;  border-radius: 30px; padding:20px; text-align: center;
    background-color:#fff; border-radius: 10px; box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
}

div#login_box{margin:30px 0}
h1.login_modal_title{margin-top:20px; color: #333; letter-spacing: 5px;}
div.login_box_wrap{margin-bottom:20px;}
div.login_box_wrap p {margin-bottom:10px;}

input[type=text] {width: 65%; height: 30px; font-size: 15px; border: 0; border-radius: 15px; outline: none; padding-left: 10px; background-color: rgb(233, 233, 233);}
input[type=password] {width: 65%; height: 30px; font-size: 15px; border: 0; border-radius: 15px; outline: none; padding-left: 10px; background-color: rgb(233, 233, 233);}

input.login_btn { width:80%; height:40px; background-color:#46A973; border:none; border-radius: 25px; color:#fff; font-weight: 700; font-size: 16px; font-family: 'omyu_pretty';}
input.login_btn:hover{ background-color:#333; color:#ffbf41;}

div.join_btn_wrap{width:100%;}
a.join_btn{width:70%; height:40px; padding: 4% 32%; background-color:#ffbf41; border:none; border-radius: 25px; color:#333; font-weight: 700; font-size: 16px;}
a.join_btn:hover {background-color: #333; color:#fff;}

