@charset "UTF-8";
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 메인 */
#infolist_main{
    font-family: "LINESeedKR-Bd",sans-serif;
    font-size: 16px;
    margin:0 auto;
    width: 375px;
}
/* 제목 */
#infolist_main>h2{
    font-weight: bolder;
    text-align: center;
}
/* 테이블 명 */
.infolist_table_td_1{
    width: 25%;
    text-align: left;
    font-size: 14px;
    color: #46A973;
}
.infolist_table_td_2>input{
    outline: none;
    border: none;
    background-color: #eeeeee;
}

/* 테이블 2 */
#infolist_table_2{
    align-items: center;
    text-align: center;
    width:100%;
}
/* 버튼 */
#infolist_btn_edit {
    width: 50%;
    height:40px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    color: #333;
    font-weight: bolder;
    background-color: #ffbf41;
}
/*td.infolist_btn_edit:hover {background-color:#333; color:#fff;}
#infolist_btn_edit:hover {background-color:#333; color:#fff;}*/

#infolist_btn_delete{
    width: 50%;
    height:40px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    color: #333;
    font-weight: bolder;
    background-color: #e9e9e9;
}

