@font-face {
    font-family: 'LINESeedKR-Bd', sans-serif;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.line {
    border-top: 1px solid #c4c4c4;
    width: 330px;
    margin: 30px auto;
    position: relative;
    right: 8px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

.main-container {
    width: 375px;
    height: 812px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    overflow: auto;
    overflow-x: hidden;
    font-family: 'LINESeedKR-Bd', sans-serif;
}

.main-container::-webkit-scrollbar {
    display: none;
}

.my_review_list{
    margin-top: 10px;
    margin: 20px;
}
.my_review_list_store{
    background-color: white;
    margin: 15px;
    padding: 15px;

}

.rating, .date {
    display: inline-block;
}

.rate_and_date{
    margin-top: -20px;
}

.my_review_photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my_review_photo img {
    width: 300px;
}
.rating {
    font-size: 24px;
}

.rating::before {
    content: "☆☆☆☆☆";
    color: lightgray;
}

.rating[data-rating="1"]::before {
    content: "★☆☆☆☆";
    color: gold;
}

.rating[data-rating="2"]::before {
    content: "★★☆☆☆";
    color: gold;
}

.rating[data-rating="3"]::before {
    content: "★★★☆☆";
    color: gold;
}

.rating[data-rating="4"]::before {
    content: "★★★★☆";
    color: gold;
}

.rating[data-rating="5"]::before {
    content: "★★★★★";
    color: gold;
}