@font-face {
    font-family: 'LINESeedKR-Bd', sans-serif;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.line {
    border-top: 1px solid #c4c4c4;
    width: 330px;
    margin: 0px auto;
    position: relative;
    right: 8px;
}
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
}
.main-container {
    width: 375px;
    height: 812px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    overflow: auto;
    overflow-x: hidden;
    font-family: 'LINESeedKR-Bd', sans-serif;
}
.main-container::-webkit-scrollbar {
    display: none;
}
.stars {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
.stars input {
    display: none;
}

.stars label {
    float: right;
    cursor: pointer;
    color: #ccc;
    outline: none;
    width: 50px;
    height: 50px;
}

.stars label:before {
    content: '\2606';
    font-size: 50px;
    text-align: center;
    border: none;
    background-color: transparent;
}

.stars input:checked~label:before {
    content: '\2605';
    color: #ffcc00;
    border: none;
}

.user_total_review h4 {
    justify-content: center;
    text-align: center;
}

.store_review {
    display: flex;
    align-items: center;
}

.taste_review {
    top: 50%;
    transform: translate(0, 50%);
    margin-right: 30px;
    font-size: 20px;
}

.delivery_review {
    top: 50%;
    transform: translate(0, 50%);
    margin-right: 30px;
    font-size: 20px;
}

.taste_review,
.delivery_review {
    display: block;
    clear: both;
}

.review_textbox {
    width: 300px;
    height: 100px;
    resize: none; /* 사이즈 조절 안되게 */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

li {
    list-style: none;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.real-upload {
    display: none; /* 업로드 창 숨기기 */
}

.image-preview {
    width: 1300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.plus-icon {
    font-size: 30px;
}

.delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px; /* 가로 크기 조정 */
    height: 20px; /* 세로 크기 조정 */
    font-size: 20px;
    color: black;
    cursor: pointer;
    z-index: 1;
    background-color: grey; /* 삭제 버튼 배경색 검정색으로 변경 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    width: 355px;
    height: 40px;
    background-color: green;
    color: white;
    font-size: 16px;
    border: none;
    margin-top: 20px;
    border-radius: 15px;
}