@charset "UTF-8";
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{margin:0 auto; font-size:18px; font-family: 'omyu_pretty';}
.header_wrap>.logo>a{margin-top:10px; text-decoration: none; color:#ffbf41; font-weight: 700;}
.header_wrap{width:375px; height:100px; margin:0 auto; background-color:#46a973; box-sizing:border-box; border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;}
.nav{text-align:right; padding:5px 15px; margin-top:15px;}
.nav>span{float:left; margin: 5px;}
.nav>span.addpic{float:left; margin: 5px; width: 230px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap; color: #fff;}
.nav>span>a{text-decoration:none; color:#eee;}
.header_i{color:#ffbf41; font-size:22px; margin:3px;}
.logo{width:160px; height:35px; margin:auto; text-align:center; font-size:30px;}