* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

.main-container {
    width: 375px;
    height: 812px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    overflow: auto;
    overflow-x: hidden;
    font-family: 'LINESeedKR-Bd', sans-serif;
}

.main-container::-webkit-scrollbar {
    display: none;
}

/*탭 스타일*/
@import "bourbon";
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400";
/* colors */
/* tab setting */
/* breakpoints */
/* selectors relative to radio inputs */

body h1 {
    text-align: center;
    color: #4caf50;
    font-weight: 300;
    padding: 40px 0 20px 0;
    margin-bottom: -50px;
}

.manager_main_tabs {
    border-radius: 5px;
    background: white;
    height: 100%;
    margin-top: 15px;
}

.manager_main_tabs input[name="tab-control"] {
    display: none;

}

.manager_main_tabs .content section h2,
.manager_main_tabs ul li label {
    font-weight: bold;
    font-size: 18px;
    color: #4caf50;
    margin-top: 10px;
}

.manager_main_tabs ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 360px;
}
.manager_main_tabs ul li {
    box-sizing: border-box;
    flex: 1;
    width: 25%;
    padding: 0 10px;
    text-align: center;
}
.manager_main_tabs ul li label {
    transition: all 0.3s ease-in-out;
    color: #929daf;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-touch-callout: none;

}
.manager_main_tabs ul li label br {
    display: none;

}
.manager_main_tabs ul li label svg {
    fill: #929daf;
    height: 1.2em;
    vertical-align: bottom;
    margin-right: 0.2em;
    transition: all 0.2s ease-in-out;

}
.manager_main_tabs ul li label:hover,
.manager_main_tabs ul li label:focus,
.manager_main_tabs ul li label:active {
    outline: 0;
    color: #bec5cf;
}
.manager_main_tabs ul li label:hover svg,
.manager_main_tabs ul li label:focus svg,
.manager_main_tabs ul li label:active svg {
    fill: #bec5cf;
}
.manager_main_tabs .slider {
    position: relative;
    width: 50%;
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.manager_main_tabs .slider .indicator {
    position: relative;
    width: 130px;
    max-width: 100%;
    margin: 0 auto;
    height: 2px;
    background: #4caf50;
    border-radius: 1px;
}
.manager_main_tabs .content {
    margin-top: 30px;

}
.manager_main_tabs .content section {
    display: none;
    animation-name: content;
    animation-direction: normal;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    line-height: 1.4;


}
.manager_main_tabs .content section h2 {
    color: #4caf50;
    display: none;

}
.manager_main_tabs .content section h2::after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: #4caf50;
    margin-top: 5px;
    left: 1px;

}
.manager_main_tabs
input[name="tab-control"]:nth-of-type(1):checked
~ ul
> li:nth-child(1)
> label {
    cursor: default;
    color: #4caf50;
}
.manager_main_tabs
input[name="tab-control"]:nth-of-type(1):checked
~ ul
> li:nth-child(1)
> label

@media (max-width: 600px) {
    .manager_main_tabs
    input[name="tab-control"]:nth-of-type(1):checked
    ~ ul
    > li:nth-child(1)
    > label {
        background: rgba(0, 0, 0, 0.08);
    }
}
.manager_main_tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
    transform: translateX(0%);
}
.manager_main_tabs
input[name="tab-control"]:nth-of-type(1):checked
~ .content
> section:nth-child(1) {
    display: block;
}
.manager_main_tabs
input[name="tab-control"]:nth-of-type(2):checked
~ ul
> li:nth-child(2)
> label {
    cursor: default;
    color: #4caf50;
}
.manager_main_tabs
input[name="tab-control"]:nth-of-type(2):checked
~ ul
> li:nth-child(2)
> label

@media (max-width: 600px) {
    .manager_main_tabs
    input[name="tab-control"]:nth-of-type(2):checked
    ~ ul
    > li:nth-child(2)
    > label {
        background: rgba(0, 0, 0, 0.08);
    }
}
.manager_main_tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
    transform: translateX(100%);
}
.manager_main_tabs
input[name="tab-control"]:nth-of-type(2):checked
~ .content
> section:nth-child(2) {
    display: block;
}

@keyframes content {
    from {
        opacity: 0;
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

/*메뉴안 탭*/

.inside_tabs {
    max-width: 320px;
    min-height: 300px;

}

div[role="inside_tablist"] {
    gap: 0.25rem;
    background-color: #d1d1d170;
    margin-bottom: 0.5rem;
    padding: 0.4rem;
    border-radius: 10px;
    width: 315px;
    text-align: center;
    margin-left: 15px;
}

button[role="tab"] {
    color: #67769e;
    background: none;
    border: none;
    padding: 0.75rem 1.25rem;
    cursor: pointer;
    font-weight: 700;
    border-radius: 10px;
    font-size: 5px;
    width: 150px;

}

button[role="tab"][aria-selected="true"] {
    background-color: #ffffff;
    width: 150px;
    color: #4caf50;
}

button[role="tab"][aria-selected="false"]:hover {
    color: #000000;
}

div[role="tabpanel"] {
    padding: 1rem;
}

.slider{
    margin-bottom: -25px;
}
