/* 폰트 */
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 10px;
}

/* 핸드폰 사이즈 및 스크롤 바 없애기*/
.main-container {
    width: 375px;
    height: 712px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #eee;
    overflow: auto; /* 스크롤 가능하도록 수정 */
    overflow-x: hidden; /* 가로 스크롤 금지 */
    font-family: LINESeedKR-Bd;
}

.main-container::-webkit-scrollbar {
    display: none;
}



/* 섹션 스타일 */
section {
    padding: 10px 20px 20px;
}

/* 링크 스타일 */
a {
    display: inline-block;
    margin-left: 10px;
    color: #333;
    text-decoration: none;
}

/* 메뉴 스타일 */
.menu {
    width: 300px;
    height: 130px;
    display: flex;
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 20px 15px 20px 5px;
    margin-bottom: 15px;
    background: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.menu:hover {border:2px solid #46A973;}

.menu-content {
    /*flex: 1;*/
    /* 230723 승원 */
    width: 50%;
    height: 100%;
    padding: 0 15px 0 0;
}

.menu-content h2 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
    width: 180px;
}

.menu-content h6 {
    width: 160px;
    height: 40px;
    font-size: 14px;
    margin: 5px 0;
    line-height: 1.4;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.menu-description.multiline {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*.menu-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}*/

/* 라인 */
.line {
    width: 0;
    height: 3px;
    background-color: transparent;
    transition: width 0.3s ease-in-out;
}

/* 컨테이너 스타일 */
.container {
    margin-top: -80px;
    text-align: center;
}

.container h2 {
    font-size: 24px;
    margin: 0;
}

.container h6 {
    font-size: 10px;
    color: gray;
    margin: 5px 0;
}

.container h5 {
    font-size: 12px;
    color: gray;
    margin: 0;
}

.container h4 {
    font-size: 16px;
    margin: 0;
}

/* 추가된 스타일 */
.active {
    color: #46A973; /* 초록색으로 변경 */
}

.line.active {
    width: 100%; /* 100% 너비로 변경 */
    background-color: #0f0; /* 초록색으로 변경 */
}

.heart {
    width: 30px;
    position: absolute;
/*    top: 10px;
    right: 10px;*/
    cursor: pointer;
    z-index: 10;
}

.heart.filled {
    content: url('../../img/store/filled_heart.png');
}

.heart:hover {
    content: url('../../img/store/filled_heart.png');
}

/*메엔 가게 사진*/
.like-container {
    position: relative;
    display: inline-block;
    width:355px;
    height:355px;
}

/*메엔 가게 사진 사이즈*/
#like_container_img{
    width:100%;
    height:100%;
}

/*별(리뷰) 사진 사이즈*/
.star{
    width: 15px;
}


/*쿠폰 이미지 사이즈*/
.coupon{
    width: 180px;
}
/*쿠폰 이미지 가로정렬*/
.coupon-container {
    display: flex;
    justify-content: flex-start;
}

/* 메뉴 */
.clear {
    clear: both;
}

.slide-toggle {
    display: none;
}

.slidemenu {
    font-family: 'LINESeedKR-Bd', sans-serif;
    max-width: 700px;
    margin: 50px auto;
    overflow: hidden;
    white-space: nowrap; /* 추가 */
}

.slidemenu label {
    text-align: center;
    display: inline-block;
    color: #333;
    opacity: 0.2;
    white-space: nowrap;
    width: calc(100% / 5);
}

.slidemenu label:hover {
    cursor: pointer;
    color: #666;
}

.slidemenu label span {
    display: block;
    padding: 10px;
    font-size: 14px;
}

.slidemenu label .icon {
    font-size: 20px;
    border: solid 2px #333;
    text-align: center;
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 50%;
}

/* Bar Style */
.slider {
    width: 100%;
    height: 5px;
    display: block;
    background: gold;
    margin-top: 1px;
    border-radius: 5px;
}

.slider .bar {
    height: 5px;
    background: green;
    border-radius: 5px;
}

/* Animations */
.slidemenu label,
.slider .bar {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
}

/* Toggle */
.slidemenu .slide-toggle:checked + label {
    opacity: 1;
}

.slidemenu #slide-item-1:checked ~ .slider .bar {
    margin-left: 0;
    width: 15%;
}

.slidemenu #slide-item-2:checked ~ .slider .bar {
    margin-left: 25%;
    width: 15%;
}

.slidemenu #slide-item-3:checked ~ .slider .bar {
    margin-left: 45%;
    width: 15%;
}

.slidemenu #slide-item-4:checked ~ .slider .bar {
    margin-left: 65%;
    width: 15%;
}

.slidemenu #slide-item-5:checked ~ .slider .bar {
    margin-left: 85%;
    width: 15%;
}


ul {
    list-style: none;
}

.tabmenu {
    width: 350px;
    margin: 0 auto;
    position: relative;
}

.tabmenu ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    overflow-x: auto;
    white-space: nowrap;

}

.tabmenu ul::-webkit-scrollbar {
    display: none;
}
#tab1{margin-left: 13px;}
#tab2{}
#tab3{margin-left: 10px;}
#tab4{margin-right: 0;}
#tab5{margin-right: 10px;}
.tabmenu ul li {
    display: inline-block;
    text-align: center;
    background: transparent;
    line-height: 40px;
    flex-shrink: 0;
    margin-right: 10px;
    width: calc((100% - 50px) / 5); /* 5개의 라벨이므로 5로 나눈 값으로 너비 설정 */
}

.tabmenu label {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.tabmenu input {
    display: none;
}

.tabCon {
    display: none;
    width: 100%;
    text-align: left;
    padding: 20px 15px;
    position: absolute;
    left: 0;
    top: 40px;
    box-sizing: border-box;
/*    border: 3px solid #f9f9f9;*/
    margin-top: 30px;
}

.tabmenu input:checked ~ label {
    position: relative;
}

.tabmenu input:checked ~ label::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ee9820;
}

.tabmenu input:checked ~ .tabCon {
    display: block;
}

/* 추가된 스타일 */
.menu-description {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
    margin: 5px 0;
    line-height: 1.4;
}




.menu-description.multiline {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.menu-content h5 {
    margin-top: 25px;
    font-size: 18px;
    color:#333;
}

.menu-image img {
/*    width: 100px;
    height: 100px;*/
    object-fit: cover;
    border-radius: 4px;
}

/* 230728 승원 */
.store_wrap{width: 375px; height: 812px; margin: auto; background-color: #eee;}
.store_favheart_wrap{width:355px; padding:0 10px; overflow: hidden; box-sizing: border-box; margin-top:20px;}
input.storename_txt{width:53%; float:left; border:none; font-size: 25px; background-color:transparent; font-family: "LINESeedKR-Bd", sans-serif;}
input.storename_txt:focus {outline:none;}
.favstoreheart{width:9%; height: 50px; position:relative; float:right;}
.review_wrap{width:355px; display: flex; justify-content: flex-start;}
span.review_count{display: flex; justify-content: space-around; align-items: center;}
span.rating{font-size: 20px;}

.coupon_wrap{padding: 0 20px;}
/* 230730 안먹음 인라인ㄱㄱ*/
button.notice-button{display: flex; justify-content: space-around; align-items: center; padding: 5px; border-radius: 5px; border: 1px solid #46d;}
img.order_notice{width: 10%; padding: 3px; margin-right: 2px;}