/* 전체적용 */
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 전체 크기 */
body{
    margin: 0;
    padding: 0;
    font-family:'LINESeedKR-Bd';
    font-size: 16px;
    text-align: center; width: 1920px;}


#goods_store{
    height:100%;
    background-color:#46A973;
    color:#fff;
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: center;}

.snun_wrap{width: 1920px; text-align: center;}

/* 230723 승원 */
.goods_store_wrap{background-color:#eee; width: 100%;}
.top_title_wrap h1{text-align:center; margin:15px 18%;}

#goods_title{padding:20px 0 0;}
#goods_title a{color:#333; margin:10px 5px; margin-right: 0;}
.top_title_wrap{ display: flex; align-items: center;}
button.backbtn { display: flex; align-items: center; font-size: 20px; color: #999; margin: 0 0 0 10px; width: 30px; height: 30px; background-color: #fff; border-radius: 50%; border: 1px solid #999; cursor: pointer; justify-content: center;}
button.backbtn:hover {background-color:#333; color:#fff;}

/* ------------------------------------------ 공통적용css---------------------------------------------- */
