
@font-face {
    font-family: 'LINESeedKR-Bd', sans-serif;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

.line {
    border-top: 1px solid #c4c4c4;
    width: 330px;
    margin: 30px auto;
    position: relative;
    right: 8px;
}

.line:first-child{
    margin-top: 100px;
}

/* 메인 컨테이너 스타일 */

.main-container {
    width: 375px;
    height: 812px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    overflow: auto; /* 스크롤 가능하도록 수정 */
    overflow-x: hidden; /* 가로 스크롤 금지 */
    font-family: 'LINESeedKR-Bd', sans-serif; /* 따옴표 추가 */
}

.main-container::-webkit-scrollbar {
    display: none;
}

.store_time_container {
    background-color: white;
    border-radius: 25px;
    margin: 10px;
    width: 355px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.store_time {
    margin: 20px;
}

.store_time h6 {
    margin-top: -5px;
    color: gray;
}

/*버튼*/
.wrapper {
    width: 50px;
    height: 50px;
    text-align: center;
    position: relative;
    bottom: 45px;
    left: 265px;
}

#switch {
    position: absolute;
    /* hidden */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.switch_label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 48px;
    height: 18px;
    background: #fff;
    border: 2px solid #daa;
    border-radius: 20px;
    transition: 0.2s;
}

.switch_label:hover {
    background: #efefef;
}

.onf_btn {
    position: absolute;
    top: 4px;
    left: 3px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: #daa;
    transition: 0.2s;
}

/* checking style */
#switch:checked + .switch_label {
    background: #c44;
    border: 2px solid #c44;
}

#switch:checked + .switch_label:hover {
    background: #e55;
}

/* move */
#switch:checked + .switch_label .onf_btn {
    left: 34px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
}

.total_menu_container {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    margin: 10px;
    width: 355px;
}

.total_menu {
    margin: 20px;
}

.first_menu {
    margin-left: 10px;
    flex: 1;
    display: block;
    clear: both;
    flex-basis: calc(25% - 10px);
}

.first_menu img {
    width: 50px;
}

.first_menu h5 {
    margin-top: -2px;
}

.detail_total_menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
}

.storecare_container {
    background:transparent;
    border-radius: 25px;
    margin: 10px;
    width: 355px;
    position: relative; /* main-container 내에 위치하도록 설정 */
}

.storecare {
    margin: 20px;
}

.board {
    width: 270px;
    background-color: #f0f8ff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}




.board .content {
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
}

.board .content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.board .content textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    resize: vertical;
}

.board .buttons {
    display: flex;
    justify-content: space-between;
}

.board .buttons button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.storecare_logo img{
    width: 80px;
}

/*탭메뉴관련*/

.tabs {
    display: flex;
    flex-direction: column;
}

.input {
    display: none;
    position: absolute;
    opacity: 0;
    border-radius: 25px;
    margin-bottom: 50px;
}

.label {
    border-radius: 25px;
    width: 295px;
    padding: 20px 30px;
    background: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    transition: background 0.1s, color 0.1s;
    margin-bottom: 1px;

}

.label:active {

    box-shadow: inset -.3rem -.1rem 1.4rem  #FBFBFB, inset .3rem .4rem .8rem #BEC5D0;
    cursor: pointer;

}


.input:focus + .label {
    z-index: 1;
}


/*탭안에 내용들*/
.panel {
    border-radius: 0 0 15px 15px;
    display: none;
    padding: 20px 30px 30px;
    background: #fff;
    width: 295px;
    margin-top: -22px;
}


.input:checked + .label + .panel {
    display: block;
}

.first_menu:hover {opacity: 0.7;}


/*        .my_review_list{
            margin-top: 10px;
            margin: 20px;
        }*/



/* 주소검색 css */
.btn_container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn_round {
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #ffbf41;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
    font-family: 'omyu pretty', Arial, sans-serif;
}
button.backbtn {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #999;
    margin: 0 0 0 10px; width: 30px; height: 30px; background-color: #fff; border-radius: 50%; border: 1px solid #999; cursor: pointer; justify-content: center;}
button.backbtn:hover {background-color:#333; color:#fff;}