@charset "UTF-8";
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
#messageDetail_body{
    font-family: "LINESeedKR-Bd",sans-serif;
    margin: 0 auto;
    width: 375px;
    font-size: 16px;
}
#messageDetail_table{
    margin-top: 30px;
    border: solid 1px #b8b8b8;
    width: 100%;
}
.messageDetail_td1{
    width: 80px;
    text-align: center;
}
.messageDetail_td2{
    width: 80px;
    text-align: left;
}
.messageDetail_btn{
    outline: none;
    background-color: #4caf50;
    color: #eeeeff;
    padding: 5px;
    height: 30px;
}