@charset "UTF-8";
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.currentlocationmap_wrap {
    width: 375px;
    height: 812px;
    background-color: #46A973;
    display: flex;
    justify-content: center;
    align-items: center;
}
.currentlocationmap_box {
    width: 330px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
.top_content {
    display: flex;
    align-items: center;
}

button.backbtn {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #999;
    margin: 0 0 0 10px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #999;
    cursor: pointer;
    justify-content: center;
}
/* hover공통 */
button.backbtn:hover, button.nowmap_btn:hover, button.mkmap_btn:hover {background-color:#333; color:#fff;}
button.cnmkmap_btn:hover {background-color:#333; color:#ffbf41;}
h2.currentlocationmap_title {font-size: 20px; letter-spacing: -2px; text-align: center;margin: 15px 15%;}
#map {
    margin: auto;
    width: 280px;
    height: 390px;
}
#map_btns {
    width: 240px;
    padding: 10px;
    margin: 5px auto;
}
/* 하단 버튼 공통 */
button.nowmap_btn, button.mkmap_btn, button.cnmkmap_btn{padding: 8px 10px; background-color: #ffbf41; border-radius: 5px; border: none; cursor: pointer; width: 240px;}

button.nowmap_btn{}
button.mkmap_btn{margin-top:10px;}
button.cnmkmap_btn{margin-top:10px; background-color: #46A973; color:#fff;}




.modal {position: absolute; width: 375px; /*height: 832px; top:-20px;*/ height: 930px; top:-120px; z-index: 999999; display: none; background-color: rgba(0, 0, 0, 0.4);}
.modal.show {display: block;}

.modal_body {
    position: absolute; top: 47%; left: 50%;
    width: 300px; height: 480px;  border-radius: 30px; padding:20px; text-align: center;
    background-color: rgb(255, 255, 255); border-radius: 10px; box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
}
.btn_round{height:30px;}
.btn_round:hover {background-color:#000;}
.current_location_btn:hover {font-weight: bold;}