@charset "UTF-8";
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

#main {
    margin: 0 auto;
    width: 375px;
    height: 100%;
    background-color: #eee;
    text-align: center;
}
#header{
    width: 100%;
    height: 100px;
    background-color: #46A973;
}
/*푸터가 밑에 있음!! 끌어올려야햇!*/
#footer{
    width: 100%;
    height: 200px;
    background-color: #46A973;
}

#connextion_market{
    width: 335px;
    height: 400px;
    margin:20px auto;
    background: #fff;
    border-radius:3%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

}

/*2023-07-12 메인페이지 수정 1차 */
.clear:before{content:''; display:block; clear:both;}

#main_wrap_box{width:375px; height:612px; position: relative;}
span.connextion_title{float:left; margin:20px; font-weight:bold; font-family: 'omyu pretty';}
.connextion_title_img{width: 28px;height: 32px;text-align: left;margin-top: 10px;vertical-align: bottom;}
.connextion_marketbox{margin: 0px auto;}

/*단골시장box공통*/
.connextion_mk1_wrap, .connextion_mk2_wrap, .connextion_mk3_wrap, .connextion_mk4_wrap{
    display:inline-block; width:120px; height:100px; /*background-color:#eee;*/ border-radius:15%; margin:15px 10px; cursor:pointer;
}
.connextion_mk2_wrap, .connextion_mk3_wrap, .connextion_mk4_wrap{background-color:#eee; border-radius:15%;}
.connextion_mk1, .connextion_mk2, .connextion_mk3, .connextion_mk4{
    width:35%; height:35%; text-decoration:none; color:#333;
}
/*.connextion_mk1_wrap:hover, .connextion_mk2_wrap:hover, .connextion_mk3_wrap:hover, .connextion_mk4_wrap:hover {box-shadow:1px 1px 10px #999; box-sizing:border-box;}*/
a>p{text-align:center; vertical-align:center; margin-top:20px;}

/*배너*/
#main_banner_wrap{width:335px; height:170px; overflow: hidden; background-color:#fff; margin:0 auto; border-radius:3%; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);}
.main_slidebanner_box{display: flex; justify-content: center; position: relative; margin: auto;}
.slideshow-image{border-radius:3%; width: 100%; height: 100%; overflow: hidden;}
.mySlides { border-radius:3%; width: 335px; height: 170px; display: flex; justify-content: center; align-items: center;}
.slideshow-container { display: flex; justify-content: center; position: relative; margin: auto;}
.fade { animation-name: fade; animation-duration: 2s;}
@keyframes fade {
    from {opacity: 0.4}
    to { opacity: 1}
}